# === .NET Specific ===

# Visual Studio files
.vs/
*.suo
*.user
*.cache
*.bak
*.ncb
*.sdf
*.log
*.tlog
*.VC.db
*.VC.VC.opendb

# Build directories
bin/
obj/
out/

# NuGet Packages
*.nupkg
packages/
project.lock.json
project.assets.json


# Rider / JetBrains
.idea/
*.sln.iml

# === Angular Specific ===

# Dependencies
node_modules/
bower_components/

# Build Output
dist/
tmp/
out-tsc/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular Environment Files
src/environments/environment*.ts

# Compiled TypeScript
*.ngfactory.ts
*.ngsummary.json
*.tsbuildinfo

# IDE and Editor Settings
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# === General ===

# Logs
*.log
logs/
*.pid
*.seed
*.pid.lock

# System Files
Thumbs.db
.DS_Store
ehthumbs.db
Desktop.ini

# Local Environment
.env
.env.local